@mixin height-calculator($controller-height: $controller-height) {
  height: calc(100vh - #{$controller-height});
}
@mixin flex-center($jc: center, $al: center) {
  display: flex;
  justify-content: $jc;
  align-items: $al;
}
@mixin hover-opacity($deg: 0.8) {
  &:hover {
    opacity: $deg;
  }
}
@mixin abs-center($direction: center) {
  position: absolute;
  @if $direction == center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @if $direction == left {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $direction == top {
    top: 50%;
    transform: translateY(-50%);
  }
}
@mixin hover-visibility() {
  visibility: hidden;
  opacity: 0;
}
