$font-stack: "Inter", sans-serif;
$sidebar-width: 240px;
$queue-width: 320px;
$header-height: 70px;
$controller-height: 90px;
$navigation-text: #dadada;
$alpha-bg: hsla(0, 0%, 100%, 0.1);
$border-primary: hsla(0, 0%, 100%, 0.1);
$color-white: white;
$dark-alpha-50: rgba(0, 0, 0, 0.5);
$red-close: rgb(235, 100, 100);
$main-padding: 0 4vw;
