$font-stack: "Inter", sans-serif;
$sidebar-width: 240px;
$queue-width: 320px;
$header-height: 70px;
$controller-height: 90px;

$alpha-bg: hsla(0, 0%, 100%, 0.1);
$border-primary: hsla(0, 0%, 100%, 0.1);
$dark-alpha-50: rgba(0, 0, 0, 0.5);
$text-secondary: hsla(0, 0%, 100%, 0.5);
